@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	/* overflow-x: hidden;; */
}

body {
	font-family: Montserrat, sans-serif;
    color: white;
	font-weight: 400;
	background: url('../assets/website-background.png');
	background-size: cover;
	height: 100vh;
	/* overflow-x: hidden; */
}
/* 
.ref-line {
	border: 1px white dashed;
}
 */
section {
	width: 80%;
	margin: auto;
	padding: max(3.5rem, 4.3vw);
	padding-top: 2rem;
}

h3 {
	font-size: clamp(3rem, 4.3vw, 5rem);
	width: fit-content;
	margin: auto;
	margin-bottom: 2rem;
}

.user-info-div {
	width: 100%;
	padding: max(2rem, 2.3vw);
	margin-bottom: 5rem;
	border: 2px solid #ECFF82;
	border-radius: 2rem;
	display: inline-flex;
	justify-content: space-between;

}

strong, p {
	font-size: clamp(1.4rem, 2.1vw, 2.8rem);
}

.location-info {
	display: flex;
}

img[src="../assets/location.png"] {
	height: 38px;
	margin-right: 3px;
}

.form-div {
	width: 100%;
	/* display: flex; */
	/* flex-wrap: wrap; */
}

form {
	display: flex;
	flex-wrap: wrap;
	column-gap: 8%;
	row-gap: 4rem;
}

.form-div > form > div {
	width: 46%;
	flex-grow: 1;
	min-width: 225px;
}

label {
	display: block;
	font-size: clamp(1.8rem, 2.1vw, 2.8rem);
	margin-bottom: 1rem;
}

select {
	width: 100%;
	height: max(3rem, 2.5vw);
	border-radius: 4rem;
	color: black;
	padding-inline: 30px;
	font-size: 20px;
}

select:hover {
	background-color: lightyellow;
}

option {
	background-color: black;
    color: #ECFF82;
	font-size: 20px;
	font-family: Montserrat;
}

form p {
	font-size: clamp(1.6rem, 1.5vw, 2.2rem);
}

form button {
	display: block;
	margin-top: 2vw;
	width: 38%;
	height: 3vw;
	/* padding-block: 1rem; */
	border-radius: 1rem;
	font-size: max(1.4rem, 1.1vw);
	font-weight: 700;
	border: none;
	background-color: #ECFF82;
}

@media (min-width: 320px) and (max-width: 620px) {

	section {
		width: 90%;
	}

	img[src="../assets/location.png"] {
		height: 16px;
	}

	form {
		row-gap: 2.5rem;
	}

	select {
		font-size: 1.4rem;
		padding-left: 10px;
	}

	form button {
		width: 100%;
		height:4.5rem;
	}
}
