@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	/* overflow-x: hidden;; */
}

body {
	font-family: Montserrat, sans-serif;
    color: white;
	font-weight: 400;
	background: url('../assets/website-background.png');
	background-size: cover;
	height: 100vh;
	/* overflow-x: hidden; */
}
/* 
.ref-line {
	border: 1px white dashed;
}
 */

 section {
	width: 80%;
	margin: auto;
	padding-block: max(3.5rem, 4.3vw);
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3 {
	font-size: clamp(3rem, 4.3vw, 5rem);
	width: fit-content;
	margin-bottom: 4rem;
}

form {
	width: auto;
}

input {
	display: block;
	width: 310px;
	height: 4rem;
	border-radius: 1rem;
	margin: auto;
	margin-bottom: 3rem;
	padding-left: 75px;
}

input::placeholder {
	/* text-align: center; */
	font-weight: 500;
}

/* Calender Style */
.flatpickr-calendar.inline {
	box-sizing: content-box;
	padding: 2rem;
	background-color: #323523;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
	font-weight: 700 !important;
}

.flatpickr-next-month {
	top: 15px !important;
	right: 20px !important;
}

.flatpickr-prev-month {
	top: 15px !important;
	left: 20px !important;
}


.flatpickr-months .flatpickr-month {
	background: #323523 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
	background: #323523 !important;
}

span.flatpickr-weekday {
	background: #323523 !important;
}

.rangeMode .flatpickr-day {
    margin-top: 5px !important;
}

.flatpickr-day {
	border-radius: 1rem !important;
	color: black !important;
	background: #ECFF82 !important;
	font-weight: 700 !important
}

.flatpickr-day.flatpickr-disabled {
	color: #E82126 !important;
	background: #767676 !important;
}

.flatpickr-day.flatpickr-disabled.flatpickr-day.prevMonthDay,
.flatpickr-day.flatpickr-disabled.flatpickr-day.nextMonthDay {
	background: black !important;
	color: white !important;
}

.flatpickr-day.nextMonthDay {
	background: #b6c17c8a !important;
	color: white !important;
}

.flatpickr-day.prevMonthDay {
	background: #b6c17c8a !important;
	color: white !important;
}

.flatpickr-day.inRange,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
	color: white !important;
	background: #3A72FF !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: 1px white solid !important;
}
/* Calender Style End Here */

.legend {
	height: 30px;
	/* width: 40%; */
	margin-top: 3rem;
	display: flex;
	column-gap: 20px;
	justify-content: center;
}

.legend > div {
	display: flex;
	align-items: center;
}

.legend > div > div {
	height: 100%;
	aspect-ratio: 1 / 1;
	display: inline-block;
	border-radius: 0.7rem;
}

#one {
	background: #E82126;
}
#two {
	background: #ECFF82;
}
#three {
	background: #3A72FF;
}

.legend strong {
	margin-left: 7px;
	width: max-content;
}

.calender-section p {
	margin-block: 3rem;
	font-size: max(1rem,1.1vw);
	padding: 1rem;
	border-radius: 1rem;
	background-color: #FFF3CD;
	color: #AB6703;
}

.calender-section button {
	display: block;
	margin-top: 3vw;
	width: 250px;
	height: 50px;
	/* padding-block: 1rem; */
	border-radius: 1rem;
	font-size: max(1.6rem, 1.1vw);
	font-weight: 700;
	border: none;
	background-color: #ECFF82;
}

em {
	margin-top: 2rem;
}