@media (min-width: 320px) and (max-width: 620px) {

    main > h3 {
        font-size: 1.8rem;
    }
    .main-section {
        display: 90% !important;
    }

    .cars-section {
        display: none;
    }

    .cars-mobile-section {
        width: 100%;
        /* height: 2000px; */
        display: inline-flex;
        flex-direction: row;
        column-gap: 3rem;
    }
    
    .cars-column-mobile-div {
        width: auto%;
    }
    
    .cars-section img {
        width: 70%;
        height: auto;
    }

}