@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	/* overflow-x: hidden; */
}

body {
	font-family: Montserrat, sans-serif;
    color: white;
	font-weight: 400;
	background: url('../assets/website-background.png');
	background-size: cover;
	height: 100vh;
	/* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    row-gap: 4vw;
    align-items: center;
}

button {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

/* .temp-border {
    border: 1px solid #ffffff;
    width: inherit;
} */

.mobile-header {
    display: none;
}


/* 1. Navbar Styling */
.navbar {
    width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    justify-self: center;
	padding: 1.5rem 4.4vw;
    height: 12rem;
    position: relative;
}

.navbar > * {
	padding: .5rem 1rem;
}

.logo {
	height: 100%;
    width: auto;
    max-width: 150px;
    /* align-self: center; */
}

.nav-links {
    min-width: 55%;
    max-width: 65%;
    flex-grow: .75;
	list-style: none;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
	text-decoration: none;
    /* font-size: 2.8rem ; */
    font-size: 1.5vw;
	color: white;
}

/* .login-btn {
    background-color: #ECFF82;
    border-radius: 4rem;
    padding: 1rem 4rem;
    font-size: 2.3rem;
} */

main {
    width: 90% !important;
}

main > h3 {
    font-size: 3.2rem;
    justify-self: center;
    margin-bottom: 5rem;
}

.memberships-section {
    width: 100%;
    /* height: 2000px; */
    display: inline-flex;
    flex-direction: row;
    column-gap: 4.4vw;
}

.cars-section > div {
    /* width: 33%; */
}

.membership-column-div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}

.memberships-section img {
    width: 100%;
    height: auto;
}

.memberships-section button {
    font-size: 3.2rem;
    padding: 1.5rem 4rem;
    border-radius: 3.4rem;
}

.silver-btn {
    background-color: #ffffff;
}

.gold-btn {
    background-color: #ffc23f;
}

.platinum-btn {
    background-color: #9edaff;
}

.subscription-info {
    width: 70%;
    text-align: center;
    margin: 3rem 0;
}

.subscription-info p {
    font-size: 2.6vw;
}

@media (min-width: 320px) and (max-width: 620px) {

    main {
        width: 70% !important;
    }
    .memberships-section {
        display: flex;
        flex-direction: column;
        row-gap: 10vw;
    }
}

footer {
    height: 450px;
    width: 100%;
    padding: 6rem 3rem;
    background: linear-gradient(to right, #22241D, #565C36);
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quick-links-div {
    margin: 0 20rem 0 30rem;
}

.quick-links-div > span {
    font-size: 3.2rem;
    font-weight: 800;
    display: block;
    margin-bottom: 1rem;
}

.quick-links-div li {
    font-size: 2.8rem;
    line-height: 2.2;
}

.working-time * {
    display: block;
    margin-bottom: .8rem;
}

.working-time > span {
    font-size: 3.2rem;
    font-weight: 800;
}

.working-time > p {
    font-size: 2.8rem;
}

.reserved-rights {
    width: 100%;
    height: 60px;
    padding: 2rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background-color: black;
    position: relative;
}

.reserved-rights > p {
    font-size: 1.8rem;
    justify-self: center;
}

@media (min-width: 320px) and (max-width: 620px) {

    .footer-links {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3rem;
    }

    footer img {
        height: 90px;
        width: auto;
        margin-left: 3rem;
    }

    .quick-links-div {
        margin: 0 2rem 0 4rem;
        min-width: 20%;
        height: fit-content;
    }

    .quick-links-div li {
        font-size: 2.2rem;
        line-height: 1.4;
    }

    .working-time {
        scale: .8;
    }

}