@media (min-width: 320px) and (max-width: 620px) {

    
    .navbar {
       display: none;
    }

    .mobile-header {
        width: 100vw;
        height: 8rem;
        justify-self: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 2rem;
    }

    .mobile-logo {
        height: 100%;
        width: auto;
    }

    img[src="assets/menu.png"] {
        height: 60%;
        width: auto;
        align-self: center;
        position: relative;
        left: 5rem;
    }

    .vertical-navbar {
        background-color: black;
        padding: 2rem;
        display: inline-flex;
        flex-direction: column;
        row-gap: 3rem;
        position: absolute;
        top: 7rem;
        left: 24rem;
    }

    .vertical-navbar-hidden {
        display: none;
    }

    .vertical-navbar li {
        list-style: none;
        padding: .4rem;
        text-decoration: none;
    }
    
    .vertical-navbar li a {
        font-size: 1.6rem;
        color: white;

    }


    .mobile-login-btn {
        padding: .5rem 1rem;
        justify-self: flex-end;
        background-color: #ECFF82;
        color: black;
        border-radius: 4rem;
    }

    .vertical-navbar {
        /* display: none; */
        z-index: 2;
    }






    /* body > *:not(:nth-child(2)) {
        display: none;
    } */

/* 
    .explore-vehicles-section,
    .offer-close-section,
    .hurry-up-section,
    .faq-section,
    .form-section,
    .footer-links {
        display: none;
    } */


    .hero-section {
        width: 100vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .hero-section-text-content > h1 {
        font-size: 3rem;
    }

    .hero-section-text-content > p {
        font-size: calc(3rem - calc(0.5 * 3rem));
        margin-top: 1.5rem;
    }

    .hero-section-text-content > button {
        margin-top: 2rem;
        font-size: 22px;
        width: 21rem;
    }

    img[src="assets/mercedes-white.png"] {
        width: 100%;
        height: auto;
        scale: 1.2;
        position: relative;
        left: 0;
        right: 0;
        transform: translate(0, 200px);
    }

    .hero-section-details {
        height: 525px;
    }

    .hero-section-details > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .hero-section-details > h3 {
        font-size: calc(5rem * .45);
    }

    .hero-section-details > div > p {
        font-size: calc(2.8rem * .45);
        width: 100%;
    }

    .hero-section-details > div > img {
        width: calc(647px * .5);
        height: calc(202px * .5);
        margin: auto;
    }

    .why-choose-section {
        height: 100px;
        margin-bottom: 2rem;
    }

    .why-choose-section > div {
        width: 100%;
        padding: 2rem;
    }

    .why-choose-section > h3 {
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }

    .why-choose-section-icons {
        width: calc(9.8rem * .33);
        height: calc(9.8rem * .33);
    }

    .why-choose-section > div > div > p {
        /* padding-top: 1rem; */
        font-size: calc(2.3rem * .33);
    }

    .explore-vehicles-section {
        display: flex;
        flex-direction: column;
        padding: 2.5rem 0;
        height: 2550px;
        margin-top: 3.5rem;
    }

    .explore-vehicles-section > h3 {
        font-size: 2rem;
        margin: auto;
        margin-bottom: 3rem;
    }

    .vehicles-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .vehicles-grid > div {
        width: 325px;
        /* height: 425px; */
        height: fit-content;
        padding: 2.5rem;
    }

    .vehicles-grid > div > span {
        font-size: 2rem;
    }

    .vehicles-grid > div > p > strong {
        font-size: 1.8rem;
    }


    .vehicles-grid > div > p {
        font-size: 1.8rem;
    }

    .card-inner-container {
        padding: 1.7rem;
    }

    .card-inner-container * {
        width: 60%;
        height: auto;
    }

    .card-inner-container > p {
        font-size: 1.8rem;
    }

    #lamborghini-yellow {
        width: 250px;
        height: auto;
        margin-bottom: 2.5rem;
    }

    #mercedes-green {
        width: 250px;
        height: auto;
        margin-bottom: 2.5rem;
    }


    #speed {
        grid-area: 2 / 2 / 3 / 6;
    }

    .explore-vehicles-section > div > div {
        /* scale: .65; */
        margin: 0;
    }

    .explore-vehicles-section button {
        font-size: 1.8rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 1rem 3rem;
    }

    .offer-close-section {
        height: 350px;
        padding: 4rem 2.8rem;
    }

    .offer-close-section * {
        scale: .95;
    }

    .offer-close-section > div {
        scale: .55;
    }

    .offer-close-section > h2 {
        font-size: calc(5.5rem * .6);
        margin-bottom: 0;
    }

    .offer-close-section > p {
        font-size: calc(3.2rem * .5);
        margin-top: 1.5rem;
        display: block;
        margin: auto;
    }

    .hurry-up-section {
        padding: 3rem 0;
        padding-bottom: 0;
    }

    .faq-section {
        /* min-height: 1150px; */
        /* max-height: 1500px; */
        display: flex;
        flex-direction: column;
    }

    .faq-section > h3 {
        font-size: 3rem;
        display: block;
        margin: auto;
        margin-bottom: 3rem;
    }

    .faq-main-content {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        /* height: auto; */
    }

    .faq-categories {
        width: 100%;
        padding: 2rem;
    }

    .faq-categories > span {
        margin-bottom: 2rem;
    }

    .faq-categories li {
        font-size: 2rem;
    }

    .faq-accordians {
        width: 100%;
    }

    .accordion-header {
        font-size: 1.8rem;
    }

    .active .accordian-content {
        max-height: 50rem;
        /* overflow: scroll; */
    }

    .accordian-content {
        max-height: 30rem;
        /* overflow: scroll !important; */
    }

    .accordion-content p {
        font-size: 1.4rem;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }

    .form-section h3 {
        font-size: 3rem;
        margin-bottom: 4rem;
        width: 350px;
    }

    form * {
        width: 300px;
        /* height: 6rem; */
    }

    form > * {
        height: 6rem;
    }

    select[name="select-car-options"] {
        margin-left: 0;
    }

    select[name="select-city-options"] {
        width: 300px;
    }

    button.form-get-quote {
        width: 200px;
    }

    .form-section {
        height: 1000px;
    }

    .footer-links {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3rem;
    }

    footer img {
        height: 100px;
        width: auto;
    }

    .quick-links-div {
        margin: 0 2rem 0 4rem;
        min-width: 20%;
        height: fit-content;
    }

    .quick-links-div li {
        font-size: 2.5rem;
        line-height: 1.6;
    }

    .working-time {
        scale: .9;
    }

}