@media (min-width: 320px) and (max-width: 620px) {
	.hero-section {
		width: 100vw;
		height: max-content;
		display: flex;
		flex-direction: column;
		padding-top: 0;
		margin-top: 1rem;
        overflow-x: hidden;
	}

	.hero-section-text-content > h1 {
		font-size: 5.5vw;
	}

	.hero-section-text-content > p {
		font-size: calc(3rem - calc(0.5 * 3rem));
		margin-top: 1.5rem;
	}

	.hero-section-text-content > button {
		margin-top: 2rem;
		font-size: 22px;
		width: 21rem;
	}

	img[src='../assets/mercedes-white.png'] {
		width: 100%;
		height: auto;
		scale: 1.2;
		position: relative;
		left: 0;
		right: 0;
		transform: translate(0, 200px);
	}

	.hero-section-details {
		height: auto;
	}

	.hero-section-details > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
	}

	.hero-section-details > h3 {
		font-size: calc(5rem * 0.36);
	}

	.hero-section-details > div > p {
		font-size: calc(2.8rem * 0.45);
		width: 100%;
	}

	.hero-section-details > div > img {
		/* width: calc(647px * .5); */
		/* height: calc(202px * .5); */
		width: 100%;
		height: auto;
		margin: auto;
	}

	.why-choose-section {
		height: 100px;
		margin-bottom: 2rem;
	}

	.why-choose-section > div {
		width: 100%;
		padding: 2rem;
	}

	.why-choose-section > h3 {
		/* font-size: 2.3rem; */
		margin-bottom: 2rem;
	}

	.why-choose-section-icons {
		width: calc(9.8rem * 0.33);
		height: calc(9.8rem * 0.33);
	}

	.why-choose-section > div > div > p {
		/* padding-top: 1rem; */
		font-size: calc(2.3rem * 0.33);
	}

	.explore-vehicles-section {
		display: flex;
		flex-direction: column;
		padding: 2.5rem 0;
		/* height: 2550px; */
		height: max-content;
		margin-top: 3.5rem;
        padding-top: 0;
	}

	.explore-vehicles-section > h3 {
		font-size: 2rem;
		margin: auto;
		margin-bottom: 3rem;
	}

	.vehicles-grid {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 0.5rem;
	}

	.vehicles-grid > div {
		/* width: 325px; */
		width: 100%;
		height: auto;
		/* height: 425px; */
		height: fit-content;
		padding: 1.5rem;
	}

	.explore-vehicles-section button {
		font-size: 1.4rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
		padding: 1rem 3rem;
	}

	/*
    .vehicles-grid > div > span {
        font-size: 2rem;
    }

    .vehicles-grid > div > p > strong {
        font-size: 1.8rem;
    }


    .vehicles-grid > div > p {
        font-size: 1.8rem;
    }

    .card-inner-container {
        padding: 1.7rem;
    }

    .card-inner-container * {
        width: 60%;
        height: auto;
    }

    .card-inner-container > p {
        font-size: 1.8rem;
    }

    #lamborghini-yellow {
        width: 250px;
        height: auto;
        margin-bottom: 2.5rem;
    }

    #mercedes-green {
        width: 250px;
        height: auto;
        margin-bottom: 2.5rem;
    }


    #speed {
        grid-area: 2 / 2 / 3 / 6;
    }

    .explore-vehicles-section > div > div {
        /* scale: .65; */

	*/


    
/* 
    .offer-close-section {
        height: 350px;
        padding: 4rem 2.8rem;
    }

    .offer-close-section * {
        scale: .95;
    }

    .offer-close-section > div {
        scale: .55;
    }

    .offer-close-section > h2 {
        font-size: calc(5.5rem * .5);
        margin-bottom: 0;
    }

    .offer-close-section > p {
        font-size: calc(3.2rem * .5);
        margin-top: 1.5rem;
        display: block;
        margin: auto;
    }
 */
	


	.countdown-timer-container {
		height: 184px;
		width: 50% !important;
        width: 80%;
		border: white solid;
	}

	.countdown-timer {
		width: 100%;
		height: 100%;
        justify-content: center;
        column-gap: 2rem;
	}

	.countdown-box {
		width: 15vw;
        height: 22vw;
		/* height: 13.5rem; */
	}

	.countdown-value {
		/* height: 7rem !important; */
		font-size: 6vw;
		border-radius: 8px;
		width: inherit;
		height: inherit;
	}

	.countdown-label {
		font-size: 1.3rem;
		font-weight: 700;
		margin-top: 2rem;
		text-transform: uppercase;
	}

	.offer-close-section > p {
        padding-inline: 2rem;
		font-size: 1.3rem;
		margin-top: 3.5rem;
		/* width: fit-content; */
		/* margin: auto; */
	}

	.hurry-up-section {
		padding: 0;
		padding-bottom: 3rem;
	}

	.faq-section {
		/* min-height: 1150px; */
		/* max-height: 1500px; */
		display: flex;
		flex-direction: column;
	}

	.faq-section > h3 {
		font-size: 3rem;
		display: block;
		margin: auto;
		margin-bottom: 3rem;
	}

	.faq-main-content {
		display: flex;
		flex-direction: column;
		row-gap: 3rem;
		/* height: auto; */
	}

	.faq-categories {
		width: 100%;
		padding: 2rem;
	}

	.faq-categories > span {
		margin-bottom: 2rem;
	}

	.faq-categories li {
		font-size: 1.6rem;
	}

	.faq-accordians {
		width: 100%;
	}

	.accordion-header {
		font-size: 1.6rem;
	}

	.active .accordian-content {
		max-height: 50rem;
		/* overflow: scroll; */
	}

	.accordian-content {
		max-height: 30rem;
		/* overflow: scroll !important; */
	}

	.accordion-content p {
		font-size: 1.2rem;
	}

	.form-section {
        height: auto;
		display: flex;
		flex-direction: column;
		padding: 3rem;
	}

	.form-section h3 {
        width: 70vw;
		font-size: 2.5rem;
		margin-top: 3rem;
		margin-bottom: 4rem;
	}


    form > * {
        width: 75vw !important;
    }

	form > * {
		height: 6rem;
	}

	select[name='car'] {
		margin-left: 0;
	}

	select[name='city'] {
		width: 300px;
	}

	button.form-get-quote {
		width: 200px !important;
	}


	form input::placeholder,
	select {
		font-size: 2rem;
	}
}

@media (min-width: 300px) and (max-width: 400px) {
	.hero-section-text-content > button {
		font-size: 14px;
		width: 16rem;
	}

}
