<nav class="navbar">
    <img class="logo" src="../assets/Privewhite.svg" alt="Prive Drive Logo">
    <ul class="nav-links">
        <li><a href='/'>Home</a></li>
        <li><a href='/cars'>Cars</a></li>
        <li><a href='/memberships'>Memberships</a></li>
        <li><a href='#'>Contact Us</a></li>
        <!-- <button class="login-btn">
            Login/Signup
        </button> -->
    </ul> 
</nav>
<div class="mobile-header">
    <img class="mobile-logo" src="../assets/Privewhite.svg" alt="Prive Drive Logo">
    <div class="vertical-navbar vertical-navbar-hidden">
        <ul class="mobile-nav-links">
            <li><a href='/'>Home</a></li>
            <li><a href='/cars'>Cars</a></li>
            <li><a href='/memberships'>Memberships</a></li>
            <li><a href='#'>Contact Us</a></li>
    </div>
    <img src="assets/menu.png" id="menu-btn" alt="Menu">
    <!-- <button class="mobile-login-btn">
        Login/Signup
    </button> -->
</div>