<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cars-style.css">
    <link rel="stylesheet" href="../css/cars-phone-queries.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>


    <main class="main-section temp-border">
        <h3>Explore Our Range Of Vehicles</h3>
        <section class="cars-section temp-border">
            <div class="cars-column-div temp-border">
                <img src="assets/col1.png" alt="">
            </div>
            <div class="cars-column-div temp-border">
                <img src="assets/col2.png" alt="">
            </div>
            <div class="cars-column-div temp-border">
                <img src="assets/col3.png" alt="">
            </div>
        </section>
        <section class="cars-mobile-section temp-border">
            <div class="cars-column-mobile-div temp-border">
                <img src="assets/mobile-col1.svg" alt="">
            </div>
            <div class="cars-column-mobile-div temp-border">
                <img src="assets/mobile-col2.svg" alt="">
            </div>
        </section>
    </main>

    


    <footer class="footer-links">
        <div>
            <img src="../assets/Privewhite.svg" alt="">
        </div>
        <div class="quick-links-div">
            <span>Quick Links</span>
            <ul>
                <li>Products</li>
                <li>Cars</li>
                <li>Services</li>
                <li>Features</li>
                <li>FAQ's</li>
            </ul>
        </div>
        <div class="working-time">
            <span>Working Hours</span>
            <p>10AM to 6PM</p>
            <p>MONDAY TO SATURDAY</p>
        </div>
    </footer>

    <div class="reserved-rights">
        <p>2025. All Rights Reserved</p>
    </div>


    <script src="../js/menu-btn-script.js"></script>

</body>
</html>