<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/queries.css">
    <link rel="stylesheet" href="../css/phone-queries.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    <!-- <script src="js/accordian.js"></script> -->
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="hero-section">
            <div class="hero-section-text-content">
                <h1>Privé Drive. The Ultimate<br>Luxury Experience</h1>
                <p>Drive Your Dream Car at a Fraction of the Cost</p>
                <button class="get-started-btn">Get Started</button>
            </div>
            <img src="../assets/mercedes-white.png" alt="Mercedes White">
        </section>
        <section class="hero-section-details">
            <h3>Privé Drive - The Ultimate Luxury Experience</h3>
            <div>
                <img src="../assets/luxury-black-cars.png" alt="Luxury Black Cars">
                <p>
                    At PriveDrive we don't just offer luxury cars; we offer the Ultimate
                    luxury experience. Through our exclusive fractional ownership and
                    subscription model, indulge in the finest automobiles- Mercedes, BMW,
                    Audi Rolls-Royce, Jaguar, and Range Rover - without the complexities and costs of full ownership.<br><br>
                    Experience seamless access to a curated fleet, paired with chauffeured
                    convenience and intelligence shared ownership, allowing you to enjoy the
                    prestige and comfort of the world's most luxurious cars on your teams.<br><br>
                    This is more than just driving; It's a redefined way to Experience
                    luxury, exclusivity, and freedom without the hassles.
                </p>
            </div>
        </section>
        <section class="why-choose-section">
            <!-- <h3>Why Choose Us</h3> -->
            <div>
                <div>
                    <img class="why-choose-section-icons" src="../assets/Funding.svg" alt="Affordable Luxury">
                    <p>Affordable Luxury</p>
                </div>
                <div>
                    <img class="why-choose-section-icons" src="../assets/Zero Percent.svg" alt="Zero Hassles">
                    <p>Zero Hassles</p>
                </div>
                <div>
                    <img class="why-choose-section-icons" src="../assets/Exclusive.svg" alt="Exclusivity">
                    <p>Exclusivity</p>
                </div>
                <div>
                    <img class="why-choose-section-icons" src="../assets/Premium.svg" alt="Premium Primetime Access">
                    <p>Premium Primetime<br>Access</p>
                </div>
                <div>
                    <img class="why-choose-section-icons" src="../assets/Provision.svg" alt="Flexibility">
                    <p>Flexibility</p>
                </div>
            </div>
        </section>


        <section class="explore-vehicles-section">
            <h3>Explore Our Range of Vehicles</h3>
            <div class="vehicles-grid temp-border">
                <div>
                    <img src="../assets/six-cars/BMWi7.svg" alt="">
                </div>
                <div>
                    <img src="../assets/six-cars/Landrover rangerover.svg" alt="">
                </div>
                <div>
                    <img src="../assets/six-cars/Mercedescabriolet.svg" alt="">
                </div>
                <div>
                    <img src="../assets/six-cars/MercedesGLS.svg" alt="">
                </div>
                <div>
                    <img src="../assets//six-cars/RangeroverDefender.svg" alt="">
                </div>
                <div>
                    <img src="../assets/six-cars/ToyotaVellfire.svg" alt="">
                </div>
            </div>
            <button id="show-all-btn">Show All</button>
        </section>


        <section class="hurry-up-section">
            <img class="hurry-up-banner" src="../assets/hurry-up-banner.png" alt="Hurry Up Banner">
        </section>
        <section class="offer-close-section">
            <h2>OFFER CLOSES IN</h2>
            <div class="countdown-timer-container">
                <div class="countdown-timer">
                    <div class="countdown-box">
                        <div id="days" class="countdown-value">00</div>
                        <div class="countdown-label">Days</div>
                    </div>
                        
                    <div class="countdown-box">
                        <div id="hours" class="countdown-value">00</div>
                        <div class="countdown-label">Hours</div>
                    </div>
                        
                    <div class="countdown-box">
                        <div id="minutes" class="countdown-value">00</div>
                        <div class="countdown-label">Minutes</div>
                    </div>
                        
                    <div class="countdown-box">
                        <div id="seconds" class="countdown-value">00</div>
                        <div class="countdown-label">Seconds</div>
                    </div>
                </div>
            </div>
            <p>Signup amount is Rs. 10,000/- which is completely refundable on cancellation.</p>
        </section>
        <section class="faq-section">
            <h3>FAQ's Section</h3>
            <div class="faq-main-content">
                <div class="faq-categories">
                    <span>Categories</span>
                    <div class="sidebar">
                        <ul>
                            <li class="faq-category active" data-content="set1">Prive Drive Simplified</li>
                            <li class="faq-category" data-content="set2">Pricing and Charges</li>
                            <li class="faq-category" data-content="set3">Booking Procedure</li>
                            <li class="faq-category" data-content="set4">Car Usage Rules</li>
                            <li class="faq-category" data-content="set5">Refer</li>
                            <li class="faq-category" data-content="set6">Selling/Transfer of Membership</li>
                            <li class="faq-category" data-content="set7">Membership</li>
                        </ul>
                    </div>
                </div>
                <div class="faq-accordians">
                    <!-- <strong>Understanding Prive</strong> -->
                    <div class="accordion-container">
                        <div class="accordion" id="accordion">
                            <!-- Dynamic content will be inserted here -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="form-section">
            <img src="assets/two-cars-frame.png" alt="">
            <div class="form-container">
                <h3>Find The Right Car For You</h3>
                <form action="">
                    <input type="text" name="name" placeholder="Your Name">
                    <input type="email" name="email" placeholder="Enter Your Email">
                    <input type="tel" name="number" placeholder="Phone Number">
                    <input type="text" name="car-brand" placeholder="Your Car Brand">
<!-- 
                    <select id="dropdown" name="select-brand-options">
                        <option value="" selected disabled>Select Brand</option>
                    </select>
                    <select id="dropdown" name="select-car-options">
                        <option value="" selected disabled>Select Car</option>
                    </select> -->
                    
                    <select id="dropdown" name="select-city-options">
                        <option value="" selected disabled>Select City</option>
                        <option value="Banglore">Banglore</option>
                        <option value="New Delhi">New Delhi</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Pune">Pune</option>
                        <option value="Lucknow">Lucknow</option>
                        <option value="Kanpur">Kanpur</option>
                        <option value="Dehradun">Dehradun</option>
                        <option value="Mysore">Mysore</option>
                        <option value="Mangalore">Mangalore</option>
                        <option value="Ahmedabad">Ahmedabad</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Cochin">Cochin</option>
                        <option value="Trivandrum">Trivandrum</option>
                        <option value="Surat">Surat</option>
                        <option value="Vishakapatnam">Vishakapatnam</option>
                        <option value="Jaipur">Jaipur</option>
                        <option value="Nagpur">Nagpur</option>
                        <option value="Indore">Indore</option>
                        <option value="Bhopal">Bhopal</option>
                        <option value="Ludhiana">Ludhiana</option>
                        <option value="Vadodra">Vadodra</option>
                    </select>
                    <button class="form-get-quote">Get Quote</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer-links">
        <div>
            <img src="../assets/Privewhite.svg" alt="">
        </div>
        <div class="quick-links-div">
            <span>Quick Links</span>
            <ul>
                <li>Products</li>
                <li>Cars</li>
                <li>Services</li>
                <li>Features</li>
                <li>FAQ's</li>
            </ul>
        </div>
        <div class="working-time">
            <span>Working Hours</span>
            <p>10AM to 6PM</p>
            <p>MONDAY TO SATURDAY</p>
        </div>
    </footer>
    <div class="reserved-rights">
        <p>2025. All Rights Reserved</p>
    </div>
    <div class="whatsapp-div">
        <img src="../assets/whatsapp.png" class="whatsapp-icon" alt="">
    </div>
    


    <script src="../js/accordian.js"></script>
</body>
</html>